.rbSwitch-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 1em; */
    gap: 0.25em;
    width: fit-content;
}

.rbSwitch-wrapper * {
    width: fit-content;
}

.rbSwitch-wrapper input {
    justify-self: end;
}

.rbSwitch-wrapper label {
    justify-self: start;
}

input[type='radio'].rbSwitch-input:checked+label.rbSwitch-label {
    font-weight: bolder;
}