.gaWrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    width:100%;
    height:fit-content;
    align-items: center;
}
/* O_o => <= o_O */
.gaConditions {
    grid-column: 1 / -1;
    align-self: center;
}
/* O_o => <= o_O */
.switchWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    grid-column: 1 / -1;
    place-self: center;
}
.switchButton {
    --animation-duration: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
    border: #0060df solid 0.05rem;
    transition: background-color var(--animation-duration);
}
.switchButton input[type="checkbox"]:checked+label {
    background-color: white;
    transform: translateX(-50%);
}
.switchButton input[type="checkbox"]:not(:checked)+label {
    transform: translateX(50%);
}
.switchButton input {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    appearance: none;
    margin: 0;
}
.switchDot {
    position: absolute;
    border-radius: 100%;
    background-color: #0060df;
    height: calc(100% - 0.05rem);
    aspect-ratio: 1/1;
    transition: all var(--animation-duration);
}
/* O_o => <= o_O */